<style>
#container-cadastro-metadados > h2 {
	margin: 0 0 20px 0;
}

#botao-nova-entidade {
	float: right;
}

#lista-entidades {
	min-height: 22em;
}

#lista-entidades .classe-entidade {
	word-break: break-all;
	word-wrap: break-word;
}

#lista-entidades .acoes-entidade {
	text-align: right;
}

#lista-entidades .acoes-entidade a {
	margin: 0 .5em;
}

#lista-entidades .carregando {
	background-image: url(img/spinner-32.gif);
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 40px;
}

#lista-entidades .carregando p {
	text-align: center;
}

#paginacao-lista-entidades {
	text-align: center;
}

#paginacao-lista-entidades ul {
	margin-top: 0;
}

#form-cadastro-entidade .form-group .text-danger {
	display: block;
}
</style>

<section id="container-cadastro-metadados">
	<div ui-view></div>
</section>